.homeBackground {
  background-image: url("images/agg_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.homeBackground::after {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.boldFont {
  font-family: "Protest Strike", sans-serif;
}

.lightFont {
  font-family: "Cabin", sans-serif;
}
