.homeBackground {
  background-image: url("images/bg_apart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 10px 100px 20px black;
}

.boldFont {
  font-family: "Protest Strike", sans-serif;
}

.lightFont {
  font-family: "Cabin", sans-serif;
}
